$ cat .gitignore

# Like, blerb. Specifics.
.DS_Store
instance.cfg
minecraft/smart_moving_options.txt
minecraft/usernamecache.json
minecraft/options.txt
minecraft/optionsof.txt
minecraft/SVLib.log



#The types of files I seriously don't need.
*.log
*.file

#Directories
minecraft/*/*
minecraft/*
natives/