
# Like, blerb. Specifics.
.DS_Store
minecraft/smart_moving_options.txt
minecraft/usernamecache.json
minecraft/options.txt
minecraft/optionsof.txt
minecraft/SVLib.log



#The types of files I seriously don't need.
*.log
*.file
*.ini

#Directories
minecraft/**
minecraft/*.log
minecraft/logs/**
minecraft/journeymap/**
minecraft/screenshots/**
minecraft/screenshots/
minecraft/saves/**
minecraft/saves/
natives/
minecraft/config/IguanaTinkerTweaks/restrictions.cfg
minecraft/mods/carpentersblocks/CarpentersBlocksCachedResources.zip
minecraft/config/InvTweaks.cfg
minecraft/config/IguanaTinkerTweaks/restrictions.cfg
minecraft/journeymap/journeymap.log
minecraft/minetweaker.log
minecraft/config/cofh/core/common.cfg
minecraft/SVLib.log
minecraft/config/InvTweaks.cfg
minecraft/config/AppliedEnergistics2/VersionChecker.cfg
minecraft/config/InfernalMobs.cfg
minecraft/config/cofh/core/common.cfg
patches/net.minecraftforge.json
minecraft/SVLib.log
minecraft/config/IguanaTinkerTweaks/restrictions.cfg
minecraft/config/cofh/core/common.cfg
minecraft/mods/carpentersblocks/CarpentersBlocksCachedResources.zip
minecraft/config/AppliedEnergistics2/VersionChecker.cfg