# Configuration file

ids {
    I:"1 Up"=180
    I:Blink=175
    I:"Elemental Affinity"=76
    I:"Fall Resistance"=177
    I:Leapfrog=181
    I:"Never Hungry"=182
    I:Paraglide=179
    I:Reaper=185
    I:Restoration=184
    I:"Sonic the Hedgehog"=186
    I:Spiderman=187
    I:"Step Up"=188
    I:Superman=178
    I:"The One Ring"=183
}


jewelry {
    B:"Enable Non-Fish Breeding Recipe for Celestial Mirror"=true
    B:"Enable Singleplayer Jewelry Offline Mode"=false
    B:"Jewelry Drops on Death"=false
}


tweaks {
    I:"Blink > Milliseconds between Blinks"=0
    I:"Blink > Ray Trace Distance"=2000
    B:"Disable Pearls in Vanilla Anvil"=false
    B:"Enable Books being applied to Jewelry"=false
    D:"Leapfrog > Jump Factor"=0.15
    I:"Leapfrog > Jumps per Damage"=10
    I:"Restoration - Ticks between Repair"=100
    D:"Sonic the Hedgehog > Speed Factor"=0.025
    I:"Sonic the Hedgehog > Ticks per Damage"=1200
}


