# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:IncludeMiners=true
    S:OnMorningText=The sun is up, and so should you.
    S:OnSleepText=is SNOOWZING
    S:OnWakeText=has insomnia
    I:SleeperPerc=50
}


